# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\CM_2_vesna\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
